
// Base
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

///////////

// Variáveis
$backGroundColor: #cc5e5e;

.navMarket {
    display: flex;
    height: 100px;
    background-color: $backGroundColor;
    width: 100%;
    padding: 0 15%;

    .logoNavBar{

        align-self: center;
        img {
            
            width: 250px;
            height: auto;
        }

    }

}

.formularioAjuste{

    margin-top: 20px;

}

.footMarket {
    display: flex;
    height: 80px;
    background-color: $backGroundColor;
    width: 100%;
    padding: 0 15%;
    bottom: 0;
    position: absolute;

    .textFooter
    {
        align-self: center;

        color: #812a33;
        font-size: 16px;
    }
}

.produtosListMarket {
    overflow-y: scroll;
}